main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.product-rating-h2 {
  border-radius: 8px;
}
.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 10;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.logo-hw {
  height: 40px;
  border-radius: 10px;
  margin-right: 5px;
}
.carousel-letters {
  margin-right: 65px;
}
.carousel-letters-container {
  opacity: 0.7;
  z-index: 4;
}
.available-books {
  padding: 10px 10px 10px 20px;
}
.upper-div-product {
  margin-bottom: 25px;
}
.upper-div-product img {
  box-shadow: 8px 2px 5px rgba(0, 0, 0, 0.3), 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-bottom: 23px;
}

.image-product-book {
  position: relative;
  animation: moveFromLeft 1.2s ease-out; /* Adjust timing and easing as needed */
}

@keyframes moveFromLeft {
  from {
    transform: translateX(-100%); /* Start off-screen to the left */
  }
  to {
    transform: translateX(0); /* Move to its original position */
  }
}
.poemLink {
  text-decoration: none;
}
#poemTitle {
  font-size: 1.5rem;
  padding: 12px 12px 12px 0px;
}
#poemAuthor {
  font-size: 1rem;
  padding: 12px 12px 12px 0px;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Fully transparent at the start */
  }
  to {
    opacity: 1; /* Fully visible at the end */
  }
}

main {
  position: relative;
  /* background-image: url("../../assets/library-book-book-read.jpg"); */
  background-size: cover;
  margin: 0;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  z-index: 1;
}

main > * {
  position: relative;
  z-index: 2;
}

.caroulsel-book-right-side {
  position: relative;
  /* background-image: url("../../assets/library-book-book-read.jpg"); */
  /* background-size: cover; */
  margin: 0;
}

.upper-div-poem {
  background-image: url("../../assets/library-book-book-read.jpg");
  background-size: cover;
  border-radius: 8px;
  box-shadow: 8px 12px 25px rgba(0, 0, 0, 0.5), 0px 4px 15px rgba(0, 0, 0, 0.05);
}
#poem-content {
  white-space: pre-wrap; /* Preserves line breaks and spaces */
  text-align: center; /* Centers the text horizontally */
  display: flex; /* Enables flexbox for better centering */
  align-items: center; /* Centers the text vertically */
  justify-content: center; /* Centers the text horizontally (flexbox) */
  height: 100%;
  word-wrap: break-word; /* Ensures long words break */
  word-break: break-all; /* Forces breaking long words */
  overflow-wrap: break-word; /* More reliable word breaking */
}

#poem-content {
  position: relative;
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 1.2s ease-out forwards; /* Wait for 1.2s and then become visible */
}

.poemTitle {
  font-size: 1.7rem;
  text-align: center;
}
.poemAuthor {
  font-size: 1rem;
  text-align: right;
}
.poemsPageH1,
.booksPageH1 {
  text-align: center;
  font-size: 3rem;
  margin: 50px;
}
.poemContainer {
  min-height: 250px;
  display: flex; /* Enables flexbox for better centering */
  align-items: center; /* Centers the text vertically */
  justify-content: center; /* Centers the text horizontally (flexbox) */
}
.carousel {
  margin-top: 52px;;
}
.container-div-book-view {
  background-color: none;
}
.main {
  background-color: rgb(46, 33, 16);
}

.container {
  max-width: 1960px;
}
.book-description {
  white-space: pre-wrap;
}
.h1-recent-titles {
  text-align: center;
   margin: 85px 85px 85px 85px;
}

/*  bio */
.div-image-biography {
  text-align: center;
  margin-right: 16px;
}
.image-biography {
  width: 250px;
  height: auto;
  border-radius: 8px;
  box-shadow: 18px 12px 25px rgba(10, 10, 10, 0.5),
    4px 14px 15px rgba(0, 0, 0, 0.05);
}
.image-biography {
  position: relative;
  animation: moveFromLeft 1s ease-out; /* Adjust timing and easing as needed */
}

@keyframes moveFromLeft {
  from {
    transform: translateX(-10%); /* Start off-screen to the left */
  }
  to {
    transform: translateX(0); /* Move to its original position */
  }
}
.bio-content,
.upper-div-product p,
.poemContainer {
  position: relative;
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 3s ease-out forwards; /* Wait for 1.2s and then become visible */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Fully transparent at the start */
  }
  to {
    opacity: 1; /* Fully visible at the end */
  }
}
.poemContent-poems-page {
  max-height: 120px; /* Limite de altura */
  overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse a altura */
  display: -webkit-box; /* Necessário para usar o line-clamp */
  -webkit-line-clamp: 3; /* Limita o número de linhas visíveis */
  -webkit-box-orient: vertical; /* Orientação do texto */
  word-break: break-word; /* Quebra palavras longas */
  white-space: normal; /* Permite quebras de linha normais */
}

.poemContainer,
.books-keyframe {
  position: relative;
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 3s ease-out forwards; /* Wait for 1.2s and then become visible */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Fully transparent at the start */
  }
  to {
    opacity: 1; /* Fully visible at the end */
  }
}
.books-keyframe:hover,
.poemContainer:hover {
  scale: 1.02;
}
.bio-container {
  display: flex;
  align-items: flex-start;
}
.bio-content {
  display: flex;
  text-align: center;
  justify-content: center;
  /* align-items: flex-start; */
  max-width: 650px;
  font-size: 1.1rem;

  padding: 14px;
}
/* END SINGLE CATEGORY PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .image-biography {
    width: 200px;
    height: auto;
    border-radius: 8px;
  }
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .image-biography {
    width: 200px;
    height: auto;
    border-radius: 8px;
  }
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  .div-image-biography {
    width: 300px;
    height: auto;
  }

  .bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .div-container-bio h1 {
    text-align: center;
  }
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .div-image-biography {
    width: 85%;
    height: auto;
  }
}

p {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* Footer */
.footer-harry {
  background-color: black;
  color: white;
  width: 100%; /* Ensure it takes up the full width of the screen */
  margin-bottom: 0; /* Remove the negative margin */
  padding: 20px 0; /* Add padding for better spacing */
}
.footer-harry a {
  color: white;
}

.poemsPageH1 {
  margin-top: 15px;
}

/* upcoming  */

.div-container-projects * {
  /* text-decoration: none;; */
  color: white;
  padding-bottom: 45px;
}
.upcoming-container {
  color: white;
}
.div-image-upcoming {
  margin: 5px;
  padding: 4px;
  margin-right: 25px;
}

.image-upcoming {
  height: 350px;
  border-radius: 12px;
  box-shadow: 8px 2px 5px rgba(0, 0, 0, 0.3), 0px 4px 15px rgba(0, 0, 0, 0.05);
}
.image-upcoming:hover {
  scale: 1.02;
}
.div-projects {
  background-color: #71786F;
  padding:0px 0px 10px 0px;
}

.div-parag {
  padding: 15px;
}

.project-container {
  display: flex;
  align-items: flex-start;
}
.h2-upcoming {
  color: white;
  padding: 10px;
  ;
}
.h4-upcoming {
  font-size: 1.1rem;
  margin-left: 15px;
}

.h3-upcoming {
  font-size: 2rem;
  margin-left: 15px;
}

.h1-upcoming {
  text-align: center;
  background-color: #131b11;
  color: white;;
  padding: 15px;
}
.div-container-projects a {
  padding: 15px;
 
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* header */
.nav-header {
   font-size: 1.2rem;
  font-weight: bold;
 
}